.card-image{
flex-grow: 1;
  
}
.card{
  display: flex;
  flex-direction: column;
    text-align: center;
    width: 200px;
    min-height: 313px;
    margin-top: 50px;
    box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
}
.card-info{

    text-align: left ;
    margin-bottom: 10px;
    font-family: gilroy;
    
}
li{
list-style-type: none;
}
.products{

width: 670px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0 auto;
align-items: center;
}
.btn{
    font-family: gilroy;
    align-self: flex-start;
    background-color: blue;
    color: aliceblue;
    padding: 5px 20px;
    border-radius: 5px;
}
.header{
    display: flex;
    justify-content: space-between;
    font-family: gilroy;
}
.main-block{
    display: flex;
    

}
.icon{
    width: 30px;
    height: 30px;
}
.main{
    width: 90%;
margin: auto;
}
.left{
    font-family: gilroy;
    padding: 0;
}